@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li><a asp-controller="Worker" asp-action="Index">Работники</a></li>
    <li><a asp-controller="Project" asp-action="Index">Проекты</a></li>
     <li><a asp-controller="Job" asp-action="Index">Задачи</a></li>
</ul>