@model Application.Models.Projects.ProjectCreateViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Project" asp-action="Create" method="post">
    <div>
        <label asp-for="ProjectName" class="control-label">Название Проекта</label>
        <input type="text" asp-for="ProjectName" class="form-control"/>
        <span asp-validation-for="ProjectName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CompanyCustomer" class="control-label">Компания-Заказчик</label>
        <input type="text" asp-for="CompanyCustomer" class="form-control"/>
        <span asp-validation-for="CompanyCustomer" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CompanyExecutor" class="control-label">Компания-Исполнитель</label>
        <input type="text" asp-for="CompanyExecutor" class="form-control"/>
        <span asp-validation-for="CompanyExecutor" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="AvailableWorkers" class="control-label">Руководитель</label>
        @Html.DropDownListFor(x => x.SelectedManagerId, new SelectList(Model.AvailableWorkers, "Id", "FullName"),new{@class="form-control"})
    </div>
    <div>
        <label asp-for="AvailableWorkers" class="control-label">Работники</label>
        @Html.ListBoxFor(x => x.SelectedWorkersId, new MultiSelectList(Model.AvailableWorkers, "Id", "FullName", Model.SelectedWorkersId),new{@class="form-control"})
    </div>
    <div>
        <label asp-for="AvailableWorkers" class="control-label">Задачи</label>
        @Html.ListBoxFor(x => x.SelectedJobs, new MultiSelectList(Model.AvailableJobs, "Id", "JobName", Model.SelectedJobs))
    </div>
    <div>
        <label asp-for="StartTime" class="control-label">Дата начала</label>
        <input type="date" asp-for="StartTime" class="form-control"/>
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="EndTime" class="control-label">Дата окончания</label>
        <input type="date" asp-for="EndTime" class="form-control"/>
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Priority" class="control-label">Приоритет</label>
        <input type="number" asp-for="Priority" class="form-control"/>
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Сохранить" class="btn-sm btn-primary"/>
    </div>
</form>
<div>
    <a class="btn-sm btn-primary" asp-controller="Project" asp-action="Index">Вернуться</a>
</div>